/* ***** CHANGELOG for MOBILE***** */
/* 1) .headerLeft, .headerRight - moved image to background with image replacement CSS */
/* 2) moved footer outside of the pageWrapper */
/* 3) #mobile_login, .mobilefooter - added css to remove mobile elements */
body{	
	background:url(../images/pageBG.jpg) #CBCED5 repeat-x;
	border:0 none;
	color:#000000;
	font-family:Arial,sans-serif;
	font-size:10pt;
	margin:0;
	padding:0;
	width:100%;
}
h1{
    display: block;
    font-size: 1.5em;
	line-height:1;
	margin-bottom: 0;	
	margin-top:15px;
}
h2{
    display: block;
    font-size: 1.17em;
	margin-top:0;
	color:#500000;
}
a:link {
	background-color:inherit;
	color:#0D3966;
}
a:visited {
	background-color:inherit;
	color:#332c2c;
}
a img {
	border:medium none;
}

.errors a {
    color:#d21033;
    text-decoration: none; 
}
.pageWrapper{
	float: auto;
	min-width: 800px;
	max-width: 1024px;
	margin: auto;
	background-color: #FFF;
	border-left:solid 1px;
	border-right:solid 1px;
	border-bottom:solid 1px;
}
#loginBox{
	width:70%;
	margin:auto;
}
.loginTable {
	background:url(../images/loginAreaBG.jpg) #e6e6e6 repeat-x;
	border:solid 1px #000000;
	color:#000;
	padding:0;
	width:100%;
	margin: 10px 0px;
}

#loginCol1 {
  padding: 0 0 0 25px;
  width: 55%;
}

#loginCol2 {
  width: 45%;
  padding: 0 0 0 46px;
  background: url(../images/loginBar.gif) repeat-y scroll 0 0;
}

#loginTitle{
	font-weight:bold;
	font-size:14px;
	margin-left:10px;
	line-height: 2;
}
#pageContent {
	line-height:1.5;
	padding:5px 25px 10px;
}

.header{
	line-height:0.5;
	height: 91px;
	background: url(../images/CASbg.png) repeat-x scroll 0 0
}

.headerLeft{
	float: left;
	width:396px;
	height:91px;
	background: url(../images/CASheaderLeft.png) no-repeat;
	text-indent:-9999px;
	
}
.headerRight{
	float: right;
	width:242px;
	height:91px;
	background: url(../images/tamu.png) no-repeat;
	text-indent:-9999px;
}
#footerBox {
}
#footer {
	background-color:#500000;
	clear:both;
	color:#FFFFFF;
	font-size:90%;
	margin:0 auto;
	padding:10px 0;
	text-align:center;
	min-width:800px;
	max-width:1026px;
}
#footer a:link, #footer a:visited {
background-color:inherit;
color:#FFFFFF;
text-decoration:none;
}
#footer a:hover {
text-decoration:underline;
}
.preload1 {
	background:transparent url(../images/buttonRightGray.gif) repeat scroll 0 0;
}
.preload2 {
	background:transparent url(../images/buttonLeftGray.gif) repeat scroll 0 0;
}
button {
        border:0;
        cursor:pointer;
        font-weight:bold;
        padding:0 20px 0 0;
        text-align:center;
        float: left;
        width: auto;
        margin-right: 23px;
        margin-top: 5px;
}
.authorized-user button {
    float: none !important;
    padding: 30px 40px;
    font-size: 12pt;
    background-color: #99FF66;
    border: 1px solid #339900;
}

div.authorized-user {
    text-align: center;
}

button span {
        position:relative;
        display:block;
        white-space:nowrap;
        padding:0 0 0 20px;
}

button.maroonBtn {
        background:url(../images/buttonRightMaroon.gif) right no-repeat;
        font-size:100%;
        margin-top:4px;
        margin-left:25px;
        font-weight: bold;
}

button.maroonBtn span {
        height:35px;
        line-height:27px;
        background:url(../images/buttonLeftMaroon.gif) left no-repeat;
        color:#FFF;
}

button.maroonBtn:hover {
        background:url(../images/buttonRightGray.gif) right no-repeat;
}

button.maroonBtn:hover span {
        background:url(../images/buttonLeftGray.gif) left no-repeat;
}

/* Blue Button*/
button.blueBtn {
        background:url(../images/buttonRightBlue.gif) right no-repeat;
        font-size:100%;
        font-weight: bold;
}

button.blueBtn span {
        height:35px;
        line-height:27px;
        background:url(../images/buttonLeftBlue.gif) left no-repeat;
        color:#FFF;
}

button.blueBtn:hover {
        background:url(../images/buttonRightGray.gif) right no-repeat;
}

button.blueBtn:hover span {
        background:url(../images/buttonLeftGray.gif) left no-repeat;
}

a.blueBtn {
        background:url(../images/buttonRightBlue.gif) right no-repeat;
        font-size:100%;
        font-weight: bold;
        border:0;
        cursor:pointer;
        font-weight:bold;
        padding:0 20px 0 0;
        text-align:center;
        float: left;
        width: auto;
		margin: -3px 0 0 0;
        text-decoration:none;
}

a.blueBtn span {
	    position:relative;
        display:block;
        white-space:nowrap;
        padding:0 0 0 20px;
        height:35px;
        line-height:27px;
        background:url(../images/buttonLeftBlue.gif) left no-repeat;
        color:#FFF;
}

a.blueBtn:hover {
        background:url(../images/buttonRightGray.gif) right no-repeat;
}

a.blueBtn:hover span {
        background:url(../images/buttonLeftGray.gif) left no-repeat;
}
label {
	float:left;
	width:100%;
}
.row label{
	font-weight:bold;	
}
label#warnLabel {
	float:none;
	width: 100%;
}
input#warn{
	float: warn;
	width: auto;
	margin:2px;
	margin-right:5px;
}
.rowCheck{
	float:left;
	margin-top: 6px;
	width:280px;
}
input {
	float:left;
	margin-top:1px;
	margin-bottom:10px;
	width:100%;
}
.rowcol1 {
	width:45%;
    float: left;
    padding-right: 10%;
}
.rowcol2 {
    width: 45%;
    float: left;
}
.loginLeft{
	float:left;
	width:48%;
	margin-right:10px;	
}
.loginRight{
	float:left;
	width:38%;
	margin-top:12px;
	margin-right:10px;	
}
.loginPageText{
	margin:auto;
	width:70%;
	padding-left:30px;
}
#mobile_login, #mobile_link, .mobilefooter{
	display:none;	
}
/* MESSAGES --------------------------------- */
.info, .errors, .success {clear:both; margin:18px 0; padding:20px 20px 20px 100px; font-size:15px; line-height:1.5;}
.info {border:1px dotted #008;    background:#eff url(../images/info.gif) no-repeat 20px 18px; color:#008;}
.errors {border:1px dotted #d21033; background:#fed url(../images/error.gif) no-repeat 20px 18px; color:#d21033; padding-bottom: 40px;}
.success {border:1px dotted #390; background:#dfa url(../images/confirm.gif) no-repeat 20px 18px; color:#390;}
/* *****************************/
/* SUBHEAD DROPDOWN NAVIGATION */
/* *****************************/

/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
/** Modifications by C. Siems, June 2008 **/

.menu {
	width:100%; 
	height:27px;
	font-size:100%;
	position:relative;
	z-index:100;
	float:left;
	background-color:#bebdbe;
	border-bottom:1px solid;
	}

/* hack to correct IE5.5 faulty box model */
* html .menu {\width:100%; w\idth:100%;}

/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0; margin:0; list-style-type:none;}

.menu ul ul {/* width:100px; */} /***/

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li {float:left; position:relative;  /* width:100px; */ text-align:center;} /***/

/* make new definition for left aligning submenu items */
.menu ul ul li {float:left; position:relative; /* width:100px; */ text-align:left; font-size:80%;} /***/

/* style the links for the top level */
/** I put background in the next selector because there is no background on the first tag **/
.menu a,.menu a:visited {
	display:block; 
	text-decoration:none; 
	color:#332c2c; 
	padding:0 15px 0 20px; 
	height:27px; 
	background: url(../images/navBarOff.jpg); 
	line-height:27px;
	border-right:1px solid;
	font-weight:bold;
	font-size:small;
	
} /***/

/* hack to correct IE5.5 faulty box model */
* html .menu a,
* html .menu a:visited {\width:70px; w\idth:70px;}

/** Added vertical line seperator **/
.menu a[class="nolink"] {padding-left:15px; background-image:url("../images/libg.gif"); background-position:0% 0.6em; background-repeat:no-repeat;} /***/

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden; position:absolute; height:0; top:27px; left:0; width:100px;}

/* another hack for IE5.5 */
* html .menu ul ul {top:27px; t\op:27px; \width:100px; w\idth:100px;}


/* position the third level flyout menu */
/** WE DONT NEED THESE .menu ul ul ul{left:50px; top:-1px; width:100px;} **/
/* position the third level flyout menu for a left flyout */
/** WE DONT NEED THESE .menu ul ul ul.left {left:-50px;} **/

/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; top:0; left:0; border-collapse:collapse;}

/* style the second level links */
.menu ul ul a,
.menu ul ul a:visited {background-color:#B0AFAF; color:#000; height:auto; line-height:1em; padding:5px 5px; width:150px;} /***/

/* hack to correct IE5.5 faulty box model */
* html .menu ul ul a,
* html .menu ul ul a:visited {\width:140px; w\idth:140px;} /***/

/* style the top level hover */
.menu a:hover,
.menu ul ul a:hover{url(../images/navBarOn.jpg); background-color:#500000;}

/** Separated this line from the one below to make diff bg **/
.menu :hover > a {color:#500000; background: url(../images/navBarOn.jpg);}

/* change next for each VPAPIT group */
.menu ul ul :hover > a {color:#fff; background-color:#a99a6f; /* color:#fff; background-color:#4f552a; */}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,
.menu ul a:hover ul{visibility:visible;}

/* keep the third level hidden when you hover on first level list OR link */
/** WE DONT NEED THESE .menu ul :hover ul ul{visibility:hidden;} **/

/* make the third level visible when you hover over second level list OR link */
/** WE DONT NEED THESE .menu ul :hover ul :hover ul{ visibility:visible;} **/

.forgotten {
    font-size: 9px;
    margin-left: 25px;
}

.authorized-user button {
    float: none !important;
    padding: 20px 30px;
    font-size: 16pt;
     width: auto;
  background: #2ba6cb;
  border: 1px solid #1e728c;
  -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 0 10px 0 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.authorized-user button:hover {
color: white;
  background-color: #2284a1;
}

.radius button {
 -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.two-factor {
  padding: 10px;
}

.two-factor input {
  width: auto !important;
}

.two-factor th {
  text-align: right;
  vertical-align: top;
  width: 50%;
}
